.navigation a {
    position: relative;
}

.navigation a:after {
    content: " ";
    display: block;
    clear: both;
    border-bottom: 2px solid transparent;
    position: absolute;
    width: 100%;
    bottom: -8px;
    left: 0;
}

.navigation a:hover:after, .navigation .actived::after {
    border-color: #043D7A;
}